ul {
  list-style-type: none;
}

img {
  display: block;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  width: 1128px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
}
